/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat+Alternates:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
         Change favorite color:

         Default (Red): hsl(358, 80%, 49%)
         Purple: hsl(265, 80%, 49%) - Blue: hsl(220, 80%, 49%)
         Pink: hsl(330, 80%, 49%) - Green: hsl(162, 70%, 40%)
         Orange: hsl(14, 80%, 49%)

         For more colors visit: https://htmlcolorcodes.com/
         -> Choose any color 
         -> Copy the color mode (HSL)
  */
    --hue: 358;
    --first-color: hsl(var(--hue), 80%, 49%);
    --first-color-alt: hsl(var(--hue), 76%, 45%);
    --white-color: hsl(0, 0%, 98%);
    --black-color: hsl(0, 0%, 1%);
    --text-color: hsl(var(--hue), 2%, 66%);
    --body-color: hsl(var(--hue), 100%, 1%);
    --container-color: hsl(var(--hue), 2%, 10%);
    --conic-gradient: conic-gradient(
        from 150deg at 50% 45%,
        hsl(var(--hue), 80%, 20%) 0deg,
        hsl(var(--hue), 80%, 48%) 140deg,
        hsl(var(--hue), 80%, 20%) 360deg
    );

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat Alternates", sans-serif;
    --second-font: "Grechen Fuemen", cursive;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1168px) {
    :root {
        --biggest-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
input,
textarea,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--white-color);
}

input,
button,
textarea {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4 {
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1168px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2rem 3rem;
}

.section-title {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 2rem;
}

.main {
    overflow: hidden;
}

/*=============== NAV ===============*/
.nav {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 98%, 0.1);
    width: 88%;
    margin-inline: auto;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 1rem 2rem;
    border-radius: 4rem;
    z-index: var(--z-fixed);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color 0.6s;
}

/* Active link */

/*=============== HOME ===============*/
/*===== PERSON =====*/
.person {
    position: relative;
    background: var(--conic-gradient);
    height: 415px;
    border-radius: 2rem;
    padding: 1rem;
    display: grid;
    overflow: hidden;
}

.person-img {
    width: 250px;
    position: absolute;
    justify-self: center;
    align-self: flex-end;
}

.person-data {
    align-self: flex-end;
    background-color: hsla(0, 0%, 1%, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
    border: 2px solid hsla(0, 0%, 100%, 0.1);
}

.person-name {
    font: var(--font-regular) var(--biggest-font-size) var(--second-font);
    margin-bottom: 1rem;
}

.person-button {
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.person-button .button {
    padding: 0.75rem 0;
}

/*===== INFO =====*/
.info,
.about,
.skills {
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: 2rem;
}

.info-circle {
    width: 2rem;
    height: 2rem;
    background-color: var(--first-color);
    border-radius: 50%;
}

.info-name {
    font: var(--font-regular) var(--h1-font-size) var(--second-font);
}

.info-data {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.info-img {
    background: var(--conic-gradient);
    height: 180px;
    border-radius: 2rem;
    display: grid;
    margin-block: 1.5rem;
    overflow: hidden;
}

.info-image {
    width: 140px;
    justify-self: center;
    align-self: flex-end;
    transform: translateY(-1.5rem);
}

.info-description {
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.info .button {
    width: 100%;
}

/*===== ABOUT =====*/
.about-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    margin-bottom: 1rem;
}

.about-social {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-block: 2rem;
}

.about-link {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition:
        background-color 0.4s,
        color 0.4s;
}

.about-link:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}

.about-img {
    background: var(--conic-gradient);
    height: 180px;
    border-radius: 2rem;
    display: grid;
    overflow: hidden;
}

.about-image {
    width: 250px;
    justify-self: center;
    transform: translateY(-3rem);
}

.about-note {
    font-size: var(--small-font-size);
    margin-block: 1rem 2rem;
}

.about .button {
    width: 100%;
}

/*===== SKILLS =====*/
.skills-title {
    font-size: var(--h2-font-size);
}

.skills-item {
    width: 1.5rem;
    transition: transform 0.4s;
}

.skills-item:hover {
    transform: translateY(-0.25rem);
}

.skills-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    margin-block: 1.5rem;
}

.skills-description {
    font-size: var(--small-font-size);
}

/*=============== BUTTON ===============*/
.button {
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 2.5rem;
    border-radius: 4rem;
    transition: background-color 0.4s;
}

.button-black {
    background-color: var(--black-color);
}

.button:hover {
    background-color: var(--first-color-alt);
}
/*=============== PROJECTS ===============*/
.projects-card {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 2rem;
}

.projects-image {
    display: block;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}

.project-img {
    transition: transform 0.4s;
}

.projects-name {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.projects-description {
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.projects-skill {
    width: 1rem;
    transition: transform 0.4s;
}

.projects-skill:hover {
    transform: translateY(-0.25rem);
}

.projects-skills {
    width: max-content;
    height: 34px;
    background-color: var(--black-color);
    padding-inline: 0.75rem;
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    border-radius: 4rem;
    margin-bottom: 1.5rem;
}

.projects-button {
    color: var(--white-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: color 0.4s;
}

.projects-button i {
    font-size: 1.25rem;
}

.projects-button span {
    font-weight: var(--font-medium);
}

.projects-button:hover {
    color: var(--text-color);
}

.projects-card:hover .project-img {
    transform: scale(1.2);
}

/*=============== SERVICES ===============*/
.services-card {
    background-color: var(--container-color);
    padding: 4rem 1.5rem 3.5rem 1.5rem;
    border-radius: 2rem;
}

.services-icon {
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
}

.services-icon i {
    font-size: 2.5rem;
    position: relative;
    z-index: var(--z-tooltip);
}

.services-circle {
    width: 3rem;
    height: 3rem;
    background-color: var(--first-color);
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    right: -1rem;
    transition: transform 0.4s;
}

.services-name {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.services-description {
    color: var(--text-color);
    font-size: smaller;
}

.services-card:hover .services-circle {
    transform: translate(0.25rem, -0.25rem);
}

/*=============== EXPERIENCE ===============*/
.education-container {
    row-gap: 2rem;
}

.education-card {
    display: grid;
    row-gap: 1rem;
}

.education-name {
    font-size: var(--h2-font-size);
}

.education-data {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.education-lang {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.education-date {
    display: block;
    font-size: var(--smaller-font-size);
    margin-bottom: 1rem;
}

.education-description {
    color: var(--text-color);
    font-size: smaller;
}

/*=============== CONTACT ===============*/
.contact-group,
.contact-form {
    gap: 1rem;
}

.contact-form {
    position: relative;
}

.contact-input {
    background-color: var(--container-color);
    padding: 1.25rem;
    border-radius: 4rem;
    color: white;
}

.contact-input::placeholder {
    color: var(--text-color);
}

.contact-input:autofill {
    transition:
        background-color 6000s,
        color 6000s;
}

.contact-area {
    height: 10rem;
    resize: none;
    border-radius: 1.5rem;
}

.contact-button {
    margin-top: 1.5rem;
    cursor: pointer;
}

.contact-message {
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--smaller-font-size);
}

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
